/** site-wide custom styles */

/** site footer is always centered */
footer {
	margin-top: 30px;
	text-align: center;
}

/*centers table elements that are used in PayPal forms*/
form table {
	width: 100%;
	margin-bottom: 5px;
}

/* add this to a column to make it centered */
.col-centered{
      float: none;
      margin: 0 auto;
 }